{% load static %}
<!doctype html>
<html lang="en">
	
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Fontawesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

	<link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    <title>{% block title %}HomePage {% endblock title %}| DevDiary</title>
  </head>
  <body>
    


<div class="container-fluid" id="header">
	
	<nav class="navbar navbar-expand-md navbar-light">
		<div class="container">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="#"><img src="{% static 'image/logo.png' %}"></a>


		    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
			
		            <ul class="navbar-nav">
						{% for c in categories %}
		                <li class="nav-item">
		                    <a class="nav-link" href="{% url "post_category" c.id %}">{{c.category_name}}</a>
		                </li>
		                {% endfor %}
		            </ul>
		  </div>
	  </div>
	</nav>
		{% block hero %}
		
		{% endblock hero %}
	  <!-- hero section -->
	  
</div>
<!-- hero ends -->

<!-- Article Grid -->

<div class="container mt-2 mb-2 pt-5 pb-5" id="article-grid">
	{% block content %}
	
	{% endblock content %}
	 <!-- Article Grid Row Ends -->
</div> <!-- Article Grid Container Ends -->

<!-- More articles button -->

<div class="container text-center pb-3 mb-5">
		<a href="#" class="btn btn-lg btn-light">More Articles</a>
</div>


<!-- Footer section  -->

<footer class="container-fluid mt-1 p-4">
	<div class="container ">
		<div class="row pb-1"> 
		<!-- Footer logo -->
		<div class="col-lg-3 col-md-12"><img src="./img/logo.png"></div>

		<!-- footer links -->
		<div class="col-lg-6 col-md-12">
			<ul class="nav justify-content-center">
			  <li class="nav-item">
			    <a class="nav-link active" href="#">Travel Tips</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Get Inspired</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Cheap Airfare</a>
			  </li>			  
			  <li class="nav-item">
			    <a class="nav-link" href="#">About</a>
			  </li>
			</ul>
		</div>

		<!-- footer social links -->
		<div class="col-lg-3 col-md-12">
			<ul class="nav justify-content-end">
			  <li class="nav-item">
			    <a class="nav-link active btn btn-light" href="#"><i class="fab fa-facebook-f"></i></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link active btn btn-light" href="#"><i class="fab fa-google"></i></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link active btn btn-light" href="#"><i class="fab fa-twitter"></i></a>
			  </li>
			</ul>

		</div>

		<hr>
		</div>
		<hr>

		<!-- copyright text -->
		<div class="row pt-2">
			<div class="col-lg-12 text-center">
				<span>&copy <a href="">NewToDesign.com</a> All Rights Received.</span>
			</div>
		</div>
	</div>
</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>