{% extends "home/base.html" %}
{% load static %}
{% block title %}
Details
{% endblock title %}+

{% block hero %}
<div class="container" id="hero">
	  	<div class="row justify-content-end">
	  		<div class="col-lg-6 hero-img-container">
	  			<div class="hero-img">
	  				<!-- hero img -->
	  				<img src="{{blog.featured_image.url}}">
	  			</div>
	  		</div>	  		

	  		<div class="col-lg-9">
	  			<div class="hero-title">
	  				<h1>{{blog.title}}</h1>
	  			</div>

	  		</div>
	  		<!-- hero meta -->
	  		<div class="col-lg-6">
	  			<div class="hero-meta">
	  				<div class="author">
	  					<div class="author-img"><img src="{{blog.author.prof_user.avater.url}}"></div>
	  					<div class="author-meta">
	  					<span class="author-name">{{blog.author}}</span>
	  					<span class="author-tag">{{blog.author.prof_user.profession}}</span>
	  					</div>	
	  				</div>
	  				<span class="date mt-2">{{blog.created_at | timesince}}</span>
	  				<div class="tags mt-2">
							<a href="{% url "post_category" blog.category.id %}"><span class="badge badge-pill p-2 badge-primary">#{{blog.category}}</span></a>
							<a href="">
							<span class="badge badge-pill p-2 badge-light">#Flight</span></a>
							<a href="">
							<span class="badge badge-pill p-2 badge-light">#Vlogger</span></a>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
{% endblock hero %}
{% block content %}
<div class="container-fluid mt-5" id="content">
	<div class="row justify-content-center">
		<!-- Share buttons -->
		<div class="col-lg-1 text-left mb-3 fixed" id="social-share">
			<a class="btn  btn-light m-2" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
			<a class="btn  btn-light m-2" href="https://api.whatsapp.com/send?text={{ post.title }}%20{{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-whatsapp"></i></a>
			<a class="btn  btn-light m-2" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title }}" target="_blank"><i class="fab fa-twitter"></i></a>
			<a class="btn  btn-light m-2" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su={{ post.title|urlencode }}&body=You may read this post: {{ request.build_absolute_uri|urlencode }}" target="_blank"><i class="fas fa-envelope"></i></a>
		</div>

		<!-- the content -->
		<div class="col-xl-7 col-lg-10 col-md-12">
			<p class="lead">{{blog.short_descriptions}}</p>

			<p>{{blog.blog_body}}</p>

			<div>
                <h4>Comments({{all_comment_blog}})</h4>
                 {% if user.is_authenticated %}
                 <div class='form'>
                    <form action="" method='POST'>
                        {% csrf_token %}
                        <div class='form-group'>
                            <textarea type='text' class='form-control mb-1' name='comment' placeholder="Write your comment here.."></textarea>
                            <button class='btn btn-sm btn-success'>Submit</button>
                        </div>
                    </form>
                 </div>

                 {% if comments %}
                 {% for comment in comments %}
                 <div class='card mb-1'>
                    <div class='card-body'>
                          <p class='text'>{{comment.comment}} 
                            <br><small class='text text-muted'>{{comment.user}} | {{comment.created_at|timesince}} ago</small>
                        </p>
                    </div>
                    
                 </div>
                 {% endfor %}
                 {% include "home/paginator.html" with page=comments %}
                 {% else %}
                 <h4>No comments yet</h4>
                 {% endif %}
                 {% else %}
                 <p>You have to <span><a href="{% url "login" %}">login</a></span> first to see comments
                 {% endif %} 
                 
            </div>
		</div>

		<div class="col-lg-10 mt-3">
			<hr>
		</div>
	</div>
</div>


<!-- Related Article Grid -->
<div class="row justify-content-center">
		{% for post in same_blog %}
		<div class="col-xl-6 col-lg-12 text-center">
			<a href="{% url "blog_detail" post.slug %}">
	        <div class="article-card">
                    <div class="article-img">
                        <img src="{{post.featured_image.url}}">
                    </div>

				<div class="article-meta text-left">
					<h2>{{post.title | upper}}</h2>
					<span><small class='text text-muted'>{{post.author}} | {{post.created_at | timesince}} ago</small></span>
					<p>{{post.short_descriptions |truncatewords:20}}</p>
				</div>
			</div>
			</a>
		</div>
        {% endfor %}
    </div>

{% endblock content %}