{% extends "home/base.html" %}
{% load static %}
{% block title %}
HomePage
{% endblock title %}+

{% block hero %}
<div class="container" id="hero">
	  	<div class="row justify-content-end">+
			{% for featured in featured_post %} {% if forloop.first %}
	  		<div class="col-lg-6 hero-img-container">
	  			<a href="{% url "blog_detail" featured.slug %}">
	  			<div class="hero-img">
	  				<img src="{{featured.featured_image.url}}">
	  			</div>
	  			</a>
	  		</div>	  		

	  		<div class="col-lg-9">
	  			<div class="hero-title">
	  				<a href="{% url "blog_detail" featured.slug %}">
	  				<h1>{{featured.title |upper}}</h1>
	  				</a>
	  			</div>

	  		</div>

	  		<div class="col-lg-6">
	  			<div class="hero-meta">
	  				<p>{{featured.short_descriptions}}</p>
	  				<div class="author">
						
	  					<div class="author-img"><img src="{{featured.author.prof_user.avater.url}}"></div>
	  					<div class="author-meta">
	  					<span class="author-name">{{featured.author}}</span>
	  					<span class="author-tag">{{featured.author.prof_user.profession}}</span>
	  					</div>	
	  				</div>
	  			</div>
	  		</div>
			{% endif %}
			{% endfor %}
	  	</div>
</div>
{% endblock hero %} 

{% block content %}
<div class="container text-center pb-3 mt-5">
		<a  class="btn btn-lg btn-light">More Articles</a>
</div>
    <div class="row justify-content-center">
		{% for post in sample_post %}
		<div class="col-xl-6 col-lg-12 text-center">
			<a href="{% url "blog_detail" post.slug %}">
			<div class="article-card">
			<div class="article-img">
				<img src="{{post.featured_image.url}}">
			</div>

				<div class="article-meta text-left">
					<h2>{{post.title | upper}}</h2>
					<span><small class='text text-muted'>{{post.author}} | {{post.created_at | timesince}} ago</small></span>
					<p>{{post.short_descriptions |truncatewords:20}}</p>
				</div>
			</div>
			</a>
		</div>
		{% endfor %}
		
	

	</div>

	{% include "home/paginator.html" with page=sample_post %}
	
{% endblock content %}