
      
      {% extends "home/base.html" %}
      {% block title %} {{category}} {% endblock title %}
      {% block hero %}
      
      {% endblock hero %}
      {% block content %}
      
   
      <h3 class="fst-italic border-bottom text-warning mx-3 px-1">{{category}}</h3>

 
      <div class="row mb-2">
        {% if posts %}
        
       
        {% for post in posts %} 
        <div class="col-md-4">
          <div class="card border-0">
            <div class="card-body">
              <h3 class="text-info"><a href='{% url "blog_detail" post.slug %}'>{{post.title | upper}} </a></h3>
              <small class="mb-1 text-muted"
                >{{post.created_at | timesince}} ago | {{post.author}}</small
              >
              <p class="card-text">{{post.short_descriptions}}</p>
            </div>
          </div>
        </div>
        
         {% endfor %}
          {% else %}
          <h4 class="text-danger mx-4 px-2">No posts available in this category</h4>
        {% endif %}
      </div>
     
     {% endblock %}
 