<div class="row justify-content-center">
	  		<div class="col-sm-4 ">
	  			<div class="profile-img">
	  			
	  				<img src="{{profile.avater.url}}">
	  			</div>
                <div class='profile-bio'>
                        <small>{{profile.bio}}</small>
                </div>
	  		</div>	  		

	  		<div class="col-sm-5">
	  			<div class="profile-name">
	  				<h2>{{profile.user.first_name |upper}} {{profile.user.last_name |upper}}</h2>
                      
	  			</div>
              
                <div class="profile-meta ">
                    <div class='profile-data'>
                        <h3 class='text'>An incredible {{profile.profession}}</h3>
                        <p class="date mt-2">Born at {{profile.dob}}</p><br>
                        <small class="date mt-2 text-muted"> Joined {{profile.user.date_joined | timesince}} ago</small>
                    </div>
	  			</div>
	  		</div>
	  		<!-- hero meta -->
	  	</div>