{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Reset Password | Profile 
{% endblock title %}

{% block hero %}

{% endblock hero %}

{% block content %}

 <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 ">
            <div class="card shadow p-4  ">
                <h3 class="text-center mb-4">Reset Password</h3>
                
               
                    <form method="POST">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                        <label class="form-label">Enter Your Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Username" required>
                        </div>
                        <div class='form-element-button'>
                        <button type='submit' class='btn btn-sm btn-success text-center border rounded-3'>Send mail</button>
                        <a href="{% url "login" %}" class="btn btn-sm btn-warning border rounded-3"> Go Back </a>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}