
body {
	text-rendering : optimizeLegibility;
	-webkit-font-smoothing : antialiased;
	background: linear-gradient(rgba(1, 27, 23, 0.195),rgba(255, 255, 255, 0.934));
	
}

a:hover {
	text-decoration: none;
}

.navbar-light .navbar-nav .nav-link ,
.nav-item a {
	font-weight: bold;
	color: #000000 !important;
}

/* .container-fluid {
	background-color: #FCFAFA;
} */

#hero {
	padding: 45px 0;
	min-height: 500px;
	position: relative;
}

.date {
	display: inline-block;
	font-size: 18px;
	color: #818181;
}

.tags .badge-light{
	background-color: #EDEDED;
	color: #555;
	font-weight: normal;
}

.hero-img-container {
	position: absolute;
	left: 0px;
	padding: 0;
}

.hero-img {
	max-width: 500px !important;
	height: 500px;
	overflow: hidden;
	border-radius: 100%;
}
.profile-img{
	margin-left: 30px;
	margin-top: 20px;
	max-width: 330px !important;
	height: 330px;
	overflow: hidden;
	border-radius: 100%;
	
}
.profile-img img {
	width: 100%;
	height: auto;
}

.hero-img img {
	width: 100%;
	height: auto;
}
footer{
	background: linear-gradient(white,rgba(9, 9, 9, 0.674));
}

.hero-title {
	background-color: rgb(244, 249, 248);
	border-radius: 150px;
	padding: 25px 60px;
	padding-right: 10px;
	margin-top: 95px;
	font-family: 'Playfair display'
}

.profile-name{
	/* background-color: rgb(244, 249, 248); */
	padding: 25px 60px;
	padding-right: 10px;
	margin-top: 95px;
	font-family: 'Playfair display';
	border-radius: 28px;
	background: #e8e3e3;
	box-shadow:  5px 5px 10px #b5b1b1,
             -5px -5px 10px #ffffff;

}
.hero-title h1 {
	font-size: 40px;
	font-weight: bold;
	line-height: 50px;
	color: #000;
	text-decoration: none;
	transition: 500ms;

}
/* Profile CSS */
.profile-meta{
border-radius: 28px;
background: #e8e3e3;
box-shadow: inset 5px -5px 10px #b5b1b1,
            inset -5px 5px 10px #ffffff;
color:black;
margin: 10px 0 0 5px;
transition: transform 0.5s ease;

}
.profile-meta:hover{
	border-radius: 28px;
	background: #e8e3e3;
	box-shadow:  5px 5px 10px #b5b1b1,
             -5px -5px 10px #ffffff;
	
	transform: scale(1.02);
}
.profile-bio{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:10px 5px 5px 20px;
	padding:5px;
	border-radius: 20px;
    background: linear-gradient(145deg, #feffff, #37f39e);
    box-shadow:  8px 8px 16px #beb9b9,
             -8px -8px 16px #ffffff;
}

.profile-bio small{
	font-size:15px;
	color: rgb(30, 33, 31);
	font-weight: bolder;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	

}
.profile-data{
	margin-left: 40px;
	margin-top: 10px;
	padding: 10px;
	font-weight: bold;
}
.profile-name h2{
	font-size: 30px;
	font-weight: bold;
	line-height: 50px;
	color: #000;
	text-decoration: none;
	transition: 500ms;
}
.profile-name h2:hover{
	transform: scale(1.01);
	color: #e91111;
}
.profile-option{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-items: center;
	-ms-flex-direction: row;
	margin-top: 20px;
	gap: 20px;

}
.hero-title a h1:hover {
	transform: scale(1.01);
}

.hero-meta p {
	font-size: 22px;
	line-height: 30px;
	color: #404040;
}

.author-img , .author-meta{
	display: inline-block;
	vertical-align: top;
}
.author-img {
	margin-right: 10px;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	overflow: hidden;
}

.author-img img{
	max-width: 100%;
	height: auto;
}

.author-meta span{ 
	display: block;
}

.author-name {
	font-size: 18px;
	margin-top: 5px;
	font-weight: bold;
}

.author-tag {
	font-size: 14px;
	color: #818181;
}

.article-card {
	margin: 20px 0; 
	transition: 400ms;
}
.article-card:hover {
	transform: scale(1.05);
}

.article-img , .article-meta {
	display: inline-block;
	vertical-align: top;
}

.article-img {
	max-width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 100px;
}

.article-img img {
	width: 100%;
	height: auto;
}

.article-meta {
	max-width: 360px;
	margin-top: 15px;
	margin-left: 10px;
}

.article-meta h2 {
	font-size: 26px;
	font-weight: bold;
	color: #000;
	font-family: 'Playfair display'
}

.article-meta p {
	color: #404040;
}

.btn-lg {
	font-size: 18px;
	padding: 10px 30px;
}

.btn-light {
	border-radius: 50px;
	font-weight: bold;
	background-color: rgba(71, 226, 179, 0.937);
	border: none;
}

.btn-light:hover , footer .btn-light {
		background-color: #EDEDED !important;
		border: none;
}

footer .btn-light , #social-share .btn-light {
	width : 40px;
	height: 40px;
	text-align: center;
	padding: 0;
	padding-top: 8px;
	margin: 0 5px;
}

footer a {
	color: #000;
}

.nav-search{
	max-width: 100px;
	max-height: 50px;
	background: transparent !important;
	outline: #e91111 !important;
	color: black !important;
}

#content .lead {
	font-size: 22px;
	font-weight: normal;
	line-height: 35px;
	margin-top: 0;
}

#content p {
	font-size: 18px;
	line-height: 30px;
}

#social-share .btn-light{
	display: inline-block;
	width: 40px;
	height: 40px;
}

/* Media Queries */

@media(max-width: 1200px) {

	.hero-img {
		width: 500px;
		height: 500px;
	}

	.article-card {
		text-align: center;
	}
	.article-meta {
		max-width: 450px;
		text-align: left;
	}

	footer {
		text-align: center;
	}

	footer .justify-content-end {
		justify-content: center!important;
	}
}


@media(max-width: 992px) {
	#hero {
		padding: 30px 0 60px;
	}

	.hero-img-container {
		position: static;
		margin: 10px auto;
		text-align: center;
	}

	.hero-img-container .hero-img {
		display: inline-block;
	}

	.hero-title {
		padding: 0;
		margin: 0;
	}
		#hero {
		text-align: center !important;
	}
}

@media(max-width: 585px){

	.article-card .text-left{
		text-align: center !important;
	}

	.hero-img {
		width: 350px;
		height: 350px;
	}
	.profile-img{
		width: 350px;
		height: 350px;
	}
	.hero-title h1 {
	font-size: 40px;
	line-height: 50px;
	}
}

@media(max-width: 320px){
	.hero-img {
		width: 300px;
		height: 300px;
	}
}