{% extends "home/base.html" %} 
{% load crispy_forms_tags %}

{% block title %} All Category {% endblock title %}
{% block content %}
<div class="row">
  {% comment %} Side bar {% endcomment %} 
   {% include "dashboard/sidebar.html" %}
  <div class="col-md-10">
    {% if perms.blogs.view_category %}
    <h4>All Categories</h4>

    {% if perms.blogs.add_category %}
    <a
     type="button" data-toggle="modal" data-target="#addcategory"
      class="btn btn-sm btn-success float-right mb-2 mx-5 text-light"

      >Add New</a
    >
    <!-- Modal -->
<div class="modal fade" id="addcategory" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <div class='rounded border-primary'>
                    <form action="{% url "add_categories" %}" method="POST">
                        {% csrf_token %}
                        {{form | crispy}}
                        
                          <div class="modal-footer">
                             <button class='btn btn-sm btn-success' type='submit' id='form_submit'>Submit</button>
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
                          </div>
                    </form>
              </div>
      </div>
    
    </div>
  </div>
</div>
    {% endif %}
    
    <table class="table table-hover table-striped table-bordered .table-responsive">
      <thead>
        <tr>
          <th>#</th>
          <th>Category Name</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for cat in categories %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{cat}}</td>
          <td>{{cat.craeted_at}}</td>
          <td>{{cat.updated_at}}</td>
          <td>
            {% if perms.blogs.add_category %}
            {% comment %} <a href="{% url "edit_categories" cat.id %}"><i class="fa fa-edit text-success"></i></a> &nbsp; {% endcomment %}
             <a type='button' data-toggle="modal" data-target="#edit{{cat.id}}"
                  class="btn btn-sm text-light"><i class="fa fa-edit text-success"></i></a>
            {% endif %}
            {% if perms.blogs.delete_category %}
             <a href="{% url "delete_categories" cat.id %}"><i class="fa fa-trash text-danger"></i></a>
            
            {% endif %}
           
          </td>
       
        </tr>

          <!--Modal-->
          <div class="modal fade" id="edit{{cat.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Add Category</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                            <div  class='rounded border-primary'>
                                  <form action="{% url "edit_categories" cat.id %}" method="POST">
                                      {% csrf_token %}
                                      <div class="form-group">
                                          <label for="category_name">Category Name</label>
                                          <input type="text" name="category_name" value="{{ cat.category_name }}" class="form-control" required>
                                          </div>
                                      
                                        <div class="modal-footer">
                                          <button class='btn btn-sm btn-success' type='submit' id='form_submit'>Submit</button>
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                                        </div>
                                  </form>
                            </div>
                    </div>
                  
                  </div>
                </div>
              </div>
              <!--End Modal-->

        {% endfor %}
      </tbody>
    </table>
    
        {% else %}
        <h5>You don't have permission</h5>
       {% endif %}
  </div>

</div>

{% endblock content %}
