{% extends "home/base.html" %}
{% block title %} Edit Category {% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
  {% comment %} Side bar {% endcomment %} 
   {% include "dashboard/sidebar.html" %}
  <div class="col-md-10">
    <h4>Edit Category</h4>
    <div style="width:40%" class='rounded border-primary'>
        <form action="#" method="POST">
            {% csrf_token %}
            {{form | crispy}}
            <button class='btn btn-sm btn-success' type='submit' id='form_submit'>Submit</button>
        </form>
    </div>

       
  </div>

</div>


{% endblock content %}