{% extends "home/base.html" %}
{% block title %} Edit User {% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
  {% comment %} Side bar {% endcomment %} 
   {% include "dashboard/sidebar.html" %}
  <div class="col-md-10">
    {% if perms.auth.add_user %}
    
    
    <h4>Edit User</h4>
    <div style="width:40%" class='rounded border-primary'>
        <form action="#" method="POST">
            {% csrf_token %}
            {{forms | crispy}}
            <button class='btn btn-sm btn-success' type='submit' id='form_submit'>Submit</button>
        </form>
    </div>

     {% else %}
     <h5>You don't have permission</h5>
    {% endif %}  
  </div>

</div>


{% endblock content %}